
@{
    ViewBag.Title = "All Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>All Contacts</h2>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Add New Contact</button><br /><br />
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th style="display:none;">
                    Contact ID
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Phone
                </th>
                <th>
                    Status
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody class="tbody"></tbody>
    </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Add Contact</h4>
            </div>
            <div class="modal-body">
                <div>Field(s) marked with * are required.</div>
                <form id="frmContact">
                    <div class="form-group">
                        <input type="hidden" id="ContactID" />
                    </div>
                    <div class="form-group">
                        <label for="FirstName">First Name *</label>
                        <input type="text" class="form-control textInput" id="FirstName" placeholder="First Name" />
                    </div>
                    <div class="form-group">
                        <label for="LastName">Last Name *</label>
                        <input type="text" class="form-control textInput" id="LastName" placeholder="Last Name" />
                    </div>
                    <div class="form-group">
                        <label for="Email">Email *</label>
                        <input type="email" class="form-control textInput" id="Email" placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <label for="PhoneNumber">Phone *</label>
                        <input type="tel" class="form-control textInput" id="PhoneNumber" placeholder="Phone" />
                    </div>
                    <div class="form-group">
                        <input type="checkbox" class="form-check-label" id="Status" />
                        <label for="Status">Active</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
                <button type="submit" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script src="~/Scripts/custom/contact.js"></script>
}